In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("kkmart.csv")

In [36]:
df

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Sat Mar 23 05:15:16 +0000 2024,1.771410e+18,@fmtoday Mamak Mydin jurucakap KK mart ka....,0.0,0.0,0.0,0.0,in,4.406203e+08,1.771320e+18,khairilhisham,https://twitter.com/khairilhisham/status/17714...
1,Sat Mar 23 05:13:26 +0000 2024,1.771400e+18,Boycott Starbucks : bad quality beans charged ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sat Mar 23 05:13:10 +0000 2024,1.771400e+18,Oops,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sat Mar 23 05:11:43 +0000 2024,1.771400e+18,@anakkampung78 @umbrab3llator @yusuf_amrizal57...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sat Mar 23 05:11:43 +0000 2024,1.771400e+18,@fmtoday Apa jadi kalau KK mart bukan 100% ber...,0.0,0.0,0.0,0.0,in,1.437260e+18,1.771320e+18,ManivannanMur10,https://twitter.com/ManivannanMur10/status/177...
...,...,...,...,...,...,...,...,...,...,...,...,...
1009,Thu Mar 21 12:03:59 +0000 2024,1.770780e+18,Ada mart sediri rupanya Firdaus Wong.. Patutl...,48.0,73.0,272.0,712.0,in,2.899829e+07,1.770780e+18,KlutzyKucing,https://twitter.com/KlutzyKucing/status/177078...
1010,Thu Mar 21 12:02:47 +0000 2024,1.770780e+18,@Solisidtor Kami dr dulu tk jump to conclusion...,0.0,0.0,0.0,0.0,in,2.756858e+08,1.770610e+18,apeargt,https://twitter.com/apeargt/status/17707831108...
1011,Thu Mar 21 12:02:02 +0000 2024,1.770780e+18,Boikot KK Mart https://t.co/S1m2CQ8Q7j,0.0,0.0,0.0,1.0,in,4.580461e+07,1.770780e+18,RajaAriff,https://twitter.com/RajaAriff/status/177078291...
1012,Thu Mar 21 12:00:21 +0000 2024,1.770780e+18,@DSR39022147 @sitikasim Kalau dia letak . Takk...,0.0,1.0,0.0,6.0,in,2.603005e+09,1.770650e+18,basyrio,https://twitter.com/basyrio/status/17707824979...
1013,Thu Mar 21 11:59:11 +0000 2024,1.770780e+18,madani dengan isu kkmart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#rename Multiple Columns in a list
df = df.rename(columns={'created_at':'date_created', 'full_text':'tweets'})

In [40]:
df

,date_created,id_str,tweets,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Sat Mar 23 05:15:16 +0000 2024,1.771410e+18,@fmtoday Mamak Mydin jurucakap KK mart ka....,0.0,0.0,0.0,0.0,in,4.406203e+08,1.771320e+18,khairilhisham,https://twitter.com/khairilhisham/status/17714...
1,Sat Mar 23 05:13:26 +0000 2024,1.771400e+18,Boycott Starbucks : bad quality beans charged ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sat Mar 23 05:13:10 +0000 2024,1.771400e+18,Oops,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sat Mar 23 05:11:43 +0000 2024,1.771400e+18,@anakkampung78 @umbrab3llator @yusuf_amrizal57...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sat Mar 23 05:11:43 +0000 2024,1.771400e+18,@fmtoday Apa jadi kalau KK mart bukan 100% ber...,0.0,0.0,0.0,0.0,in,1.437260e+18,1.771320e+18,ManivannanMur10,https://twitter.com/ManivannanMur10/status/177...
...,...,...,...,...,...,...,...,...,...,...,...,...
1009,Thu Mar 21 12:03:59 +0000 2024,1.770780e+18,Ada mart sediri rupanya Firdaus Wong.. Patutl...,48.0,73.0,272.0,712.0,in,2.899829e+07,1.770780e+18,KlutzyKucing,https://twitter.com/KlutzyKucing/status/177078...
1010,Thu Mar 21 12:02:47 +0000 2024,1.770780e+18,@Solisidtor Kami dr dulu tk jump to conclusion...,0.0,0.0,0.0,0.0,in,2.756858e+08,1.770610e+18,apeargt,https://twitter.com/apeargt/status/17707831108...
1011,Thu Mar 21 12:02:02 +0000 2024,1.770780e+18,Boikot KK Mart https://t.co/S1m2CQ8Q7j,0.0,0.0,0.0,1.0,in,4.580461e+07,1.770780e+18,RajaAriff,https://twitter.com/RajaAriff/status/177078291...
1012,Thu Mar 21 12:00:21 +0000 2024,1.770780e+18,@DSR39022147 @sitikasim Kalau dia letak . Takk...,0.0,1.0,0.0,6.0,in,2.603005e+09,1.770650e+18,basyrio,https://twitter.com/basyrio/status/17707824979...
1013,Thu Mar 21 11:59:11 +0000 2024,1.770780e+18,madani dengan isu kkmart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#Check Null Values
df.isnull().any()

date_created           False
id_str                 False
tweets                 False
quote_count             True
reply_count             True
retweet_count           True
favorite_count          True
lang                    True
user_id_str             True
conversation_id_str     True
username                True
tweet_url               True
dtype: bool

In [42]:
df[df['quote_count'].isna()==1]

,date_created,id_str,tweets,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
1,Sat Mar 23 05:13:26 +0000 2024,1.771400e+18,Boycott Starbucks : bad quality beans charged ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sat Mar 23 05:13:10 +0000 2024,1.771400e+18,Oops,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sat Mar 23 05:11:43 +0000 2024,1.771400e+18,@anakkampung78 @umbrab3llator @yusuf_amrizal57...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sat Mar 23 04:55:28 +0000 2024,1.771400e+18,#EXCLUSIVE DANGER: ISLAMICS ARMAGEDDON Within...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sat Mar 23 04:26:23 +0000 2024,1.771390e+18,@azhar3001v2 @twitlisten @liyana_marzuki Baca ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
996,Thu Mar 21 12:31:26 +0000 2024,1.770790e+18,@X_PLORASI Lagi ramai bangla dengan indo je KK...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,Thu Mar 21 12:21:28 +0000 2024,1.770790e+18,@X_PLORASI butuuuuuhh la melayu hilang kerja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,Thu Mar 21 12:13:52 +0000 2024,1.770790e+18,Pergi beli enoki tadi. Singgah kedai runcit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,Thu Mar 21 12:13:07 +0000 2024,1.770790e+18,@khadan86 @scheekeong Kalau ikut cara u,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1013,Thu Mar 21 11:59:11 +0000 2024,1.770780e+18,madani dengan isu kkmart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df['quote_count']=df['quote_count'].fillna(0)
df['reply_count']=df['reply_count'].fillna(0)
df['retweet_count']=df['retweet_count'].fillna(0)
df['favorite_count']=df['favorite_count'].fillna(0)
df['lang']=df['lang'].fillna(0)
df['user_id_str']=df['user_id_str'].fillna(0)
df['conversation_id_str']=df['conversation_id_str'].fillna(0)
df['tweet_url']=df['tweet_url'].fillna(0)
df['username']=df['username'].fillna(0)

In [47]:
df[df['tweets']=='Oops']

,date_created,id_str,tweets,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
2,Sat Mar 23 05:13:10 +0000 2024,1.771400e+18,Oops,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0

In [48]:
#drop duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1009    False
1010    False
1011    False
1012    False
1013    False
Length: 1014, dtype: bool

In [49]:
#change DataTypes
df.dtypes

date_created            object
id_str                 float64
tweets                  object
quote_count            float64
reply_count            float64
retweet_count          float64
favorite_count         float64
lang                    object
user_id_str            float64
conversation_id_str    float64
username                object
tweet_url               object
dtype: object

In [67]:
#Dropping columns
df=df.drop(columns="conversation_id_str")

In [72]:
df

,date_created,tweets,lang,username,tweet_url
0,Sat Mar 23 05:15:16 +0000 2024,@fmtoday Mamak Mydin jurucakap KK mart ka....,in,khairilhisham,https://twitter.com/khairilhisham/status/17714...
1,Sat Mar 23 05:13:26 +0000 2024,Boycott Starbucks : bad quality beans charged ...,0,0,0
2,Sat Mar 23 05:13:10 +0000 2024,Oops,0,0,0
3,Sat Mar 23 05:11:43 +0000 2024,@anakkampung78 @umbrab3llator @yusuf_amrizal57...,0,0,0
4,Sat Mar 23 05:11:43 +0000 2024,@fmtoday Apa jadi kalau KK mart bukan 100% ber...,in,ManivannanMur10,https://twitter.com/ManivannanMur10/status/177...
...,...,...,...,...,...
1009,Thu Mar 21 12:03:59 +0000 2024,Ada mart sediri rupanya Firdaus Wong.. Patutl...,in,KlutzyKucing,https://twitter.com/KlutzyKucing/status/177078...
1010,Thu Mar 21 12:02:47 +0000 2024,@Solisidtor Kami dr dulu tk jump to conclusion...,in,apeargt,https://twitter.com/apeargt/status/17707831108...
1011,Thu Mar 21 12:02:02 +0000 2024,Boikot KK Mart https://t.co/S1m2CQ8Q7j,in,RajaAriff,https://twitter.com/RajaAriff/status/177078291...
1012,Thu Mar 21 12:00:21 +0000 2024,@DSR39022147 @sitikasim Kalau dia letak . Takk...,in,basyrio,https://twitter.com/basyrio/status/17707824979...
1013,Thu Mar 21 11:59:11 +0000 2024,madani dengan isu kkmart,0,0,0

In [71]:
#Strip
df["tweets"].str.strip("@")

0            fmtoday Mamak Mydin jurucakap KK mart ka....
1       Boycott Starbucks : bad quality beans charged ...
2                                                    Oops
3       anakkampung78 @umbrab3llator @yusuf_amrizal57 ...
4       fmtoday Apa jadi kalau KK mart bukan 100% bers...
                              ...
1009    Ada mart sediri rupanya Firdaus Wong..  Patutl...
1010    Solisidtor Kami dr dulu tk jump to conclusion ...
1011               Boikot KK Mart https://t.co/S1m2CQ8Q7j
1012    DSR39022147 @sitikasim Kalau dia letak . Takka...
1013                             madani dengan isu kkmart
Name: tweets, Length: 1014, dtype: object

In [76]:
#remove URLs and Special Character
df['tweets']=df['tweets'].str.replace('http[s]://(?:[a-zA-Z]|[0-9][$-_@.&+]|[!*\(\),]|(?:&[0-9A-fA-F][0-9a-fA-F]))+', '')

<>:2: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\('
C:\Users\Asus\AppData\Local\Temp\ipykernel_4544\1236718528.py:2: SyntaxWarning: invalid escape sequence '\('
  df['tweets']=df['tweets'].str.replace('http[s]://(?:[a-zA-Z]|[0-9][$-_@.&+]|[!*\(\),]|(?:&[0-9A-fA-F][0-9a-fA-F]))+', '')

In [80]:
#remove URLs and Special Character
df['tweets']=df['tweets'].str.replace(r"[\"\'\|\?\=\.\<\>\@\#\*\,]", '')

In [79]:
df['tweets']

0           @fmtoday Mamak Mydin jurucakap KK mart ka....
1       Boycott Starbucks : bad quality beans charged ...
2                                                    Oops
3       @anakkampung78 @umbrab3llator @yusuf_amrizal57...
4       @fmtoday Apa jadi kalau KK mart bukan 100% ber...
                              ...
1009    Ada mart sediri rupanya Firdaus Wong..  Patutl...
1010    @Solisidtor Kami dr dulu tk jump to conclusion...
1011               Boikot KK Mart https://t.co/S1m2CQ8Q7j
1012    @DSR39022147 @sitikasim Kalau dia letak . Takk...
1013                             madani dengan isu kkmart
Name: tweets, Length: 1014, dtype: object